.header-mobile {
  height: auto;
  background-color: rgba(241, 43, 42, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  color: #fff;
  margin: 0;
  /* Add this to remove default margin */
  display: flex;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 900;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.header-mobile button {
  background: rgba(255, 255, 255, 1);
  /* border: 1px solid rgba(255, 255, 255, 1); */
  border-radius: 4px;
  padding: 8px;
  border: none;
}